body{
    background-color: #0d0d0d;
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
}
header{
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}
h1{
    font-size: 2em;
    margin-bottom: 10px;
}
marquee{
    font-size: 1.2em;
    color: yellow;
}
video{
    margin-top: 20px;
    border: 5px solid #ff416c;
    border-radius: 10px;
    box-shadow: 0 0 20px #ff416c;

}
.button {
    margin-top: 20px;
}
button {
    background-color: #ff4b2b;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em; 
    transition: 0ms; 
}
button:hover{
    background-color: #ff416c;
}
footer {
    margin-top: 40px; 
    font-size: 0.9em; 
    color: #aaa;

}


